* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  text-align: center;
  margin-top: 10%;
}

label {
  display: block;
  margin-bottom: 20px;
}
input {
  width: 8%;
  text-align: center;
}

h1,
h4,
p {
  margin: 2%;
}

h1 {
  margin-bottom: 0;
}

button {
  padding: 5px;
  border: 0;
  color: bisque;
  background-color: cornflowerblue;
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  background-color: plum;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}
